<!-- FOOTER -->
<footer class="footer-section">
  <div class="footer-container container">
    <ul class="footer-social list">
      <li class="footer-social-item">
        <a class="footer-social-link link" href="">
          <svg class="footer-social-svg" width="32" height="32">
            <use href="./img/sprite.svg#instagram"></use>
          </svg>
        </a>
      </li>
      <li class="footer-social-item">
        <a class="footer-social-link link" href="">
          <svg class="footer-social-svg" width="32" height="32">
            <use href="./img/sprite.svg#facebook"></use>
          </svg>
        </a>
      </li>
      <li class="footer-social-item">
        <a class="footer-social-link link" href="">
          <svg class="footer-social-svg" width="32" height="32">
            <use href="./img/sprite.svg#icon-paper-plane"></use>
          </svg>
        </a>
      </li>
      <li class="footer-social-item">
        <a class="footer-social-link link" href="">
          <svg class="footer-social-svg" width="32" height="32">
            <use href="./img/sprite.svg#vk"></use>
          </svg>
        </a>
      </li>
      <li class="footer-social-item">
        <a class="footer-social-link link" href="">
          <svg class="footer-social-svg" width="32" height="32">
            <use href="./img/sprite.svg#youtube"></use>
          </svg>
        </a>
      </li>
    </ul>

    <p class="footer-copirate">GoldFіshNet © 2023</p>

    <ul class="footer-links list">
      <li footer-links-item>
        <a class="footer-links-link link" href="">Блог</a>
      </li>
      <li footer-links-item>
        <a class="footer-links-link link" href="">Риболовна карта</a>
      </li>
      <li footer-links-item>
        <a class="footer-links-link link" href="">Довідник рибалки</a>
      </li>
      <li footer-links-item>
        <a class="footer-links-link link" href="">Політика конфіденційності</a>
      </li>
    </ul>

    <ul class="footer-links list">
      <li footer-links-item>
        <a class="footer-links-link link" href="">Річки</a>
      </li>
      <li footer-links-item>
        <a class="footer-links-link link" href="">Види риб </a>
      </li>
      <li footer-links-item>
        <a class="footer-links-link link" href="">Публікації </a>
      </li>
      <li footer-links-item>
        <a class="footer-links-link link" href="">Телеграм бот</a>
      </li>
    </ul>
  </div>
</footer>
